{% extends 'base/index.html' %}
{% block page %}
<h1>{{syst.fullname|raw}}<small class="text-muted">orbiting <a href="{{url_for('galaxy.star',{'id':star.id})}}"><i class="fas fa-sun"></i> {{star.name}}</a></small></h1>
<hr>
<div class="d-flex align-items-center">
  <ul class="list-inline mb-0">
    <li class="list-inline-item"><strong>Distance</strong> {{syst.distance}} AU</li>
    <li class="list-inline-item"><strong>Speed</strong> {{syst.speed}}˚/day</li>
  </ul>
  <div class="flex-grow-1"> 
    <div class="progress ml-3">
      <div class="progress-bar bg-success" role="progressbar" style="width: {{syst.position}}%" aria-valuenow="{{syst.position}}" aria-valuemin="0" aria-valuemax="100">Orbit Progress</div>
    </div>
  </div>
</div>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>Port</th>
      <th>Type</th>
      <th>Techlevel</th>
      <th>Fuel cost</th>
    </tr>
  </thead>
  <tbody>
  {% for spob in spobs %}
    <tr>
      <td>{{spob.fullname|raw}}</td>
      <td>{{spob.type.name}}</td>
      <td>{{spob.techlevel}}</td>
      <td>{{spob.fuelCost}} cr/unit</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<hr>
{{dump(spobs)}}
{% include ('spob/common/addSpob.twig') %}
{% endblock %}