{% extends 'base/site.html' %}
{% block page %}
	<h1>Galaxy Editor</h1>
	<hr>
	{% if not galaxy %}
		<p class="lead">It looks like this galaxy is empty. You can start by creating your first star system.</p>
	{% endif %}
	<table class="table">
		<thead>
			<tr>
				<th>Star name</th>
				<th>Systems</th>
				<th>Ports</th>
			</tr>
		</thead>
		<tbody>
			{% for star in stars %}
				<tr>
					<th colspan="3">
						<a href="{{url_for('home',{'id':star.id})}}">{{star.fullName|raw}}</a>
					</th>
				</tr>
				{% for syst in star.systs %}
					<tr>
						<td></td>
						<td colspan="2">
							<a href="{{url_for('galaxy.syst',{'starid':star.id,'systid':syst.id})}}">{{syst.fullname|raw}}</a>
						</td>
					</tr>
					{% for spob in syst.spobs %}
						<tr>
							<td></td>
							<td></td>
							<td>{{spob.fullname|raw}}</td>
						</tr>
					{% else %}
						<tr>
							<td></td>
							<td></td>
							<td>
								<em>No Ports</em>
							</td>
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td></td>
						<td>
							<em>No Systems. Star is not traversable!</em>
						</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<th colspan="3">No galaxy yet</th>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% if user.permissions.GALAXY %}
		{% include 'star/common/addStar.twig' %}
	{% endif %}

{% endblock %}
