<div class="card">
  <div class="card-header">Create a new ship</div>
  <div class="card-body">
    <form action="{{url_for('ships.newShip')}}" method="POST">
      <div class="mb-3 row">
        <div class="col">
          <label for="name" class="form-label">Ship Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Wombat" value="{{data.name}}">
        </div>
        <div class="col">
          <label for="shipwright" class="form-label">Shipwright</label>
          <input type="text" class="form-control" id="shipwright" name="shipwright" placeholder="Chekhov Armaments" value="{{data.shipwright}}">
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col">
          <label for="accel" class="form-label">Acceleration (in m/s<sup>2</sup>)</label>
          <input type="text" class="form-control" id="turn" name="accel" placeholder="4" value="{{data.accel}}">
        </div>
        <div class="col">
          <label for="turn" class="form-label">Turning Speed (in m/s<sup>2</sup>)</label>
          <input type="text" class="form-control" id="turn" name="turn" placeholder="20" value="{{data.turn}}">
        </div>
        <div class="col">
          <label for="turn" class="form-label">Mass (in tons)</label>
          <input type="text" class="form-control" id="mass" name="mass" placeholder="10" value="{{data.mass}}">
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col">
          <label for="fueltank" class="form-label">Fuel</label>
          <input type="text" class="form-control" id="fueltank" name="fueltank" placeholder="5" value="{{data.fueltank}}">
        </div>
        <div class="col">
          <label for="cargobay" class="form-label">Cargo Space (in tons)</label>
          <input type="text" class="form-control" id="cargobay" name="cargobay" placeholder="20" value="{{data.cargobay}}">
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col">
          <label for="shields" class="form-label">Shields</label>
          <input type="text" class="form-control" id="shields" name="shields" placeholder="100" value="{{data.shields}}">
        </div>
        <div class="col">
          <label for="armor" class="form-label">Armor</label>
          <input type="text" class="form-control" id="armor" name="armor" placeholder="100" value="{{data.armor}}">
        </div>
        <div class="col">
          <label for="expansion" class="form-label">Expansion Space</label>
          <input type="text" class="form-control" id="expansion" name="expansion" placeholder="10" value="{{data.expansion}}">
        </div>
      </div>
      <div class="mb-3 row align-items-center">
        <div class="col">
          <label for="cost" class="form-label">Cost</label>
          <input type="text" class="form-control" id="cost" name="cost" placeholder="10000" value="{{data.cost}}">
        </div>
        <div class="col">
          <label for="class" class="form-label">Class</label>
          <select id="inputState" class="form-select" name="class" required>
            <option selected disabled>Choose...</option>
            {% for v, t in shiptypes %}
            <option value="{{v}}" {% if data.class == v %}selected="selected"{% endif %}>{{t.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col">
          <label class="form-label">Starter Ship</label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="true" id="starter" name="starter" {% if data.starter %}checked="checked"{% endif %}>
            <label class="form-check-label" for="starter">
              Yes
            </label>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Description</label>
        <textarea class="form-control" id="desc" rows="3" name="desc">{{data.desc}}</textarea>
      </div>
      <button type="submit" class="btn btn-success btn-block">Create</button>
    </form>
  </div>
</div>