{% extends 'base/site.html' %}
{% import 'syst/common/systMacros.twig' as syst_macro %}

{% block page %}
	<h1>{{syst.name}}
		<small class="text-muted">orbiting
			<a href="{{url_for('star.view',{'star':star.id})}}">
				<i class="fas fa-sun"></i>
				{{star.name}}</a>
		</small>
	</h1>
	<hr>
	<div class="d-flex align-items-center">
		<ul class="list-inline mb-0">
			<li class="list-inline-item">
				<div class="badge" style="background: {{syst.govt.color}}; color: {{syst.govt.color2}}">{{syst.govt.name}}</div>
			</li>
			<li class="list-inline-item">
				<strong>Distance</strong>
				{{syst.distance}}
				AU</li>
			<li class="list-inline-item">
				<strong>Speed</strong>
				{{syst.speed}}˚/day</li>
		</ul>
		<div class="flex-grow-1 ml-3">
			{{syst_macro.systProgress(syst.position)}}
		</div>
	</div>
	<hr>
	<table class="table">
		<thead>
			<tr>
				<th>Port</th>
				<th>Type</th>
				<th>Techlevel</th>
				<th>Fuel cost</th>
			</tr>
		</thead>
		<tbody>
			{% for spob in syst.spobs %}
				<tr>
					<td>{{spob.fullname|raw}}</td>
					<td>{{spob.type.name}}</td>
					<td>{{spob.techlevel ?? 'N/A'}}</td>
					<td>{{spob.fuelCost ? spob.fuelCost ~ 'cr/unit' : 'N/A'}}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4" class="text-center">
						<em>No Ports</em>
					</td>
				</tr>
			{% endfor %}

		</tbody>
	</tr>
</tbody></table><hr>{% if user.permissions.GALAXY %}
{% include ('spob/common/addSpob.twig') %}{% endif %}{% endblock %}
